.focused-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;          
    box-sizing: border-box;



    color: white;
}

.dashboard-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    min-width: 0;           
}

.primary-chart {
    display: flex;
    flex: 10;
    min-width: 0;            
    min-height: 0;
    gap: 10px;
}


