.focused-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;          
    box-sizing: border-box;

    color: white;
}

.primary-chart {
    display: flex;
    flex: 10;
    min-width: 0;            
    min-height: 0;
    gap: 10px;
}