.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1a0a2e;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 30px 30px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.prompt-container {
    display: flex;
    flex-direction: row;
    border: 1px solid dimgray;
    border-radius: 50px;
    width: 1000px;
    height: 100px;
    background-color: lightgray;
}

.prompt-input {
    flex: 10;
    padding-left: 50px;
    font-size: 25px;
    border-radius: 50px;
    background-color: lightgray;
    border: none;
}

.prompt-input::placeholder {
    font-size: 25px;
}

.prompt-input:focus {
    outline: none;
}

.btn-submit {
    flex: 1;
    border-radius: 50px;
    background-color: lightgray;
    font-size: 30px;
}

