.side-bar {
    display: flex;
    width: 0px;
    height: 100%;
    color: white;
    border-radius: 15px;

    position: fixed;
    right: 0;

    background-color: #2a1a42; 
    transition: width 0.3s ease;
    box-sizing: border-box;
}

.side-bar.open {
    width: 15%;
    padding: 20px;  
    border: 1px solid gray;
}
